# Test de estrategia estacional en el ORO (GC)
La teoria dice que los dias VIERNES, el ORO tiene un patrón alcista.
Vamos a realizar un estudio de datos, a ver si este patron es cierto, y se mantiene a dia de hoy.

Idea extraida de [VIDEO](https://www.youtube.com/watch?v=y0kZTM5duXg&ab_channel=Rub%C3%A9nMart%C3%ADnez)

In [1]:
import pandas as pd
import numpy as np
import MetaTrader5 as mt5
import pytz
from datetime import datetime
import calendar

In [2]:
ticker = "GC_Z"
start_dt = "2009-10-28"
end_dt = "2024-10-01"

def data_from_mt5():
    # connect to MetaTrader 5
    if not mt5.initialize():
        print("initialize() failed")
        mt5.shutdown()

    # set time zone to UTC
    timezone = pytz.timezone("Etc/UTC")
    # create 'datetime' objects in UTC time zone to avoid the implementation of a local time zone offset
    utc_from = datetime.strptime(start_dt, "%Y-%m-%d")
    utc_to = datetime.strptime(end_dt, "%Y-%m-%d")#datetime(2024, 8, 1, tzinfo=timezone)
    
    daily_ohlcv = mt5.copy_rates_range(ticker, mt5.TIMEFRAME_D1, utc_from, utc_to)
 
    mt5.shutdown()

    # adaptamos el dataframe D1 para luego hacer los analisis de las sesiones
    daily_df = pd.DataFrame(daily_ohlcv)
    daily_df['time']=pd.to_datetime(daily_df['time'], unit='s')


    daily_df = daily_df.set_index('time')
    del daily_df['real_volume']
    del daily_df['spread']

    return daily_df

data = data_from_mt5()
data

              open    high     low   close  tick_volume
time
2009-10-28  1381.5  1385.7  1366.4  1367.0          890
2009-10-29  1367.6  1393.7  1365.9  1393.1          920
2009-10-30  1392.7  1394.8  1377.4  1379.2          790
2009-10-31  1380.4  1392.5  1380.4  1390.9          512
2009-11-02  1388.1  1414.3  1388.1  1412.3         1144
...            ...     ...     ...     ...          ...
2024-09-24  2653.3  2689.3  2647.1  2682.0        46692
2024-09-25  2682.6  2694.8  2673.9  2681.3        43523
2024-09-26  2681.1  2708.5  2677.5  2695.1        51786
2024-09-27  2694.7  2696.8  2665.3  2680.7        50675
2024-09-30  2679.3  2687.6  2646.2  2656.3        47382

[4461 rows x 5 columns]