# Analisis de datos para mejorar la estrategia de RangeBreakOut en el GOLD.

Pratimos de la base de que esta estrategia pudiera ser rentable.
Nos interesa mucho tener una gestión del riesgo exquisita, ya que esta estrategia esta enfocada a pasar cuentas de fondeo.
Por tanto, en este Notebook vamos a analizar ciertos datos historicos que nos pueden ayudar a establecer SL, TP y gestión de riesgo avanzada a nuestro algoritmo de RangeBreakOut.

## Listado de datos a extraer:
- Rango promedio diario de movimiento
- StdDev del rango promedio diario de movimiento

In [10]:
import yfinance as yf
import pandas as pd
import numpy as np

In [15]:
gold = yf.Ticker("GC=F").history('max')

gold.head(10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-08-30 00:00:00-04:00,273.899994,273.899994,273.899994,273.899994,0,0.0,0.0
2000-08-31 00:00:00-04:00,274.799988,278.299988,274.799988,278.299988,0,0.0,0.0
2000-09-01 00:00:00-04:00,277.000000,277.000000,277.000000,277.000000,0,0.0,0.0
2000-09-05 00:00:00-04:00,275.799988,275.799988,275.799988,275.799988,2,0.0,0.0
2000-09-06 00:00:00-04:00,274.200012,274.200012,274.200012,274.200012,0,0.0,0.0
2000-09-07 00:00:00-04:00,274.000000,274.000000,274.000000,274.000000,125,0.0,0.0
2000-09-08 00:00:00-04:00,273.299988,273.299988,273.299988,273.299988,0,0.0,0.0
2000-09-11 00:00:00-04:00,273.100006,273.100006,273.100006,273.100006,0,0.0,0.0
2000-09-12 00:00:00-04:00,272.899994,272.899994,272.899994,272.899994,0,0.0,0.0
2000-09-13 00:00:00-04:00,272.799988,272.799988,272.799988,272.799988,0,0.0,0.0

In [16]:
# Calculamos el promedio de rango diario

gold['DailyRange'] = gold['High'] - gold['Low']
gold['DailyRange'].replace(0, np.NaN)
avg_daily_range = gold['DailyRange'].mean()

In [18]:
print(avg_daily_range)

11.601846437333666